= content_tag :div,'', id: "page_type", data: {type: @type}
= content_tag :div,'', id: "question_timer", data: {timer: @question.timer}
.center-followup
  #h3
    %h3
      = @question.prompt
  - if @image
    = image_tag(@image.image.url(:thumb))
  #radio-wrapper
    = form_for @response do |f|
      = f.hidden_field :mc_question_id, :value => @question.id
      = f.collection_radio_buttons :mc_choice_id, @choices, :id, :choice do |b|
        - b.label(class: "radio") { b.radio_button + b.text }
      = f.submit "Submit", class: "btn btn-primary", id: "next_button"
  #timer
