= content_tag :div,'', id: "page_type", data: {type: @type}
= content_tag :div,'', id: "finder_options", data: {noneEnabled: @finder.noneEnabled, multipleChoice: @finder.multipleChoice, timed: @finder.timed}
.container
  - @images.each_slice(5).with_index do |group, row|
    .row
      - group.each.with_index do |image, column|
        .col-md-2
          .thumbnail
            = check_box_tag "#{row+1}#{column+1}", '1',false, class: 'imgcheck image-checkbox'
            = label_tag  "#{row+1}#{column+1}", "" do
              = image_tag(image.image.url(:thumb))
  .row-finder-buttons
    = button_tag "None of These", class: "btn btn-default btn-xs", id: 'none_button'
    #timer
    = button_tag 'Next <span class="glyphicon glyphicon-chevron-right"></span>'.html_safe, class: "btn btn-default btn-xs", id: "next_button"
      
