.row
  .col-md-6.col-md-offset-3
    = form_for(@question) do |f|
      = f.label :prompt
      = f.text_field :prompt, class: "form-control"
      = f.collection_select  :item_id, @items, :id, :image_file_name, prompt:true, class: "form-control"
      = f.collection_select  :finder_id, @finders, :id, :question, prompt:true, class: "form-control"

      = f.collection_check_boxes  :mc_choice_ids, @choices, :id, :choice, class: "form-control"
      = f.submit "Submit",  class: "btn btn-primary"
