!!!
%html
  %head
    %title Trigger Foods Survey
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .row
      .col-xs-8.col-xs-offset-2
        = yield
    %footer= "Participant Token: #{session[:participant_token]}"
    = #debug(params) if Rails.env.development?
